<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="/styles/styles.css" />
    <script type="text/javascript" src="public/scripts/home_charts.js"></script>
    <title>Analyst In-Depth Page ejs</title>
</head>

<body>
    <div class="topSection">

        <!-- TOP NAVBAR SECTION -->
        <div class="topNavbar">
            <div class="topNavbar__container">
                <div class="topNavbar__item">
                    <div class="topNavbar__logo">
                        <a href="intSpecialist.php" id="navbar__logo">TEAM-05</a>
                    </div>
                    <div class="topNavbar__search" id="search-div">
                        <div class="search__container">
                            <form>
                                <button class="searchButtons" id="filter-btn"><i class="fas fa-sliders-h"></i></button>
                                <input class="searchInput" type="text" placeholder="Search Chart">
                                <button class="searchButtons" type="button" id="search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!--

                        <div class="profile__container">
                            <a href="" class="profile__item" id="profile-username">
        
                                <p id="username">Analyst</p>
                                
                                
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main__section">

        <!-- SIDE NAVBAR SECTION -->
        <div class="navbar">
            <div class="navbar__container">
                <ul class="navbar__menu">
                    <a href="analyst.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-home"></i></p>
                            <p class="navbar__links">Home</p>
                        </li>
                    </a>
                    <a href="indepth.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-plus"></i></p>
                            <p class="navbar__links">In-Depth</p>
                        </li>
                    </a>
                    <a href="/account.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-user"></i></p>
                            <p class="navbar__links">Account</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- CHART SECTION -->


        <div>
            <div class="row_indepth">
                <div class = "column_indepth">
                    <div>
                        <h2 style="text-align: center;">Chart 1</h2>
                        <!--chart-->
                    </div>
                    <div>
                        <h2 style="text-align: center;">Chart 4</h2>
                        <!--chart-->
                    </div>
                    <div>
                        <h2 style="text-align: center;">Chart 7</h2>
                        <!--chart-->
                    </div>
                </div>
                <div class="column_indepth">
                    <div >
                        <h2 style="text-align: center;">Chart 2</h2>
                        <!--chart-->
                    </div>
                    <div>
                        <h2 style="text-align: center;">Chart 5</h2>
                        <!--chart-->
                    </div>
                    <div>
                        <h2 style="text-align: center;">Chart 8</h2>
                        <!--chart-->
                    </div>
                </div>
                <div class="column_indepth">
                    <div >
                        <h2 style="text-align: center;">Chart 3</h2>
                        <!--chart-->
                    </div>
                    <div>
                        <h2 style="text-align: center;">Chart 6</h2>
                        <!--chart-->
                    </div>
                    <div>
                        <h2 style="text-align: center;">Chart 9</h2>
                        <!--chart-->
                    </div>
                </div>
            </div>
        </div>

        
    <footer>
        <p class="center">&#169; 2022 Team 5</p>
    </footer>

    </div>

</html>