<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importing local stylesheets, Bootstrap for additional styling and FontAwesome for icons -->
    <link rel="stylesheet" type = 'text/css' href="/styles/login.css" /> 
    <link rel="stylesheet" type = 'text/css' href="/styles/styles.css" /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Log In to Deskspace</title>
</head>

<body>

    <div class="topSection">

        <!-- TOP NAVBAR SECTION -->
        <div class="topNavbar">
            <div class="topNavbar__container justify-content-center">
                <div class="topNavbar__item">
                    <div class="topNavbar__logo">
                        <a href="login.html">
                            <!-- Logo referenced and styled in centre of top navbar -->
                            <img src="https://i.ibb.co/RDsbyHN/deskspace-wht.png" alt="deskspace-3-1" border="0" id="navbar__logo" style="height: 60px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main__section">
    <div id="border-container" class="form__border rounded" style="margin-bottom: 10%;">
        <span>
        <div class="d-flex justify-content-center align-items-center centered" id="loginForm-container">
        <div> 
            <div class="form-login">
                <!-- The below form posts data to /auth path in server.js -->
                <form method="post" action="/auth" class="form__content mt-3">
                    <h3 style="text-align: center">Welcome</h3>
                    <div class="form-group">
                        <div class="form-outline">
                            <label for="uname">Username</label>
                            <div class="input-icons">
                                <i class="fa fa-user icon"></i> <!-- external icons used in username / password entry fields -->
                                <input type="text" class="form-control input-field" name="username" id="username" placeholder="Enter Username Here" required>
                            </div>
                        </div>
                        <div class="form-outline mt-3">
                            <label for="pword">Password</label>
                            <div class="input-icons">
                                <i class="fa fa-key icon"></i>
                                <input type="password" class="form-control input-field" name="password" id="password" placeholder="Enter Password Here" required>
                            </div>
                        </div>
                    </div>
                    <div id="button_div" style="display: flex;
                    justify-content: center;
                    align-items: center;">
                    <button type="submit" id="submitBtn" class="btn btn-info center mt-3 btn-block btn-rounded">LOGIN</button>
                    </div>
                    <!-- The code below is embedded JavaScript that displays an error message if the page was called with the variable "err" present: --> 
                    <% if (locals.err) { %>
                        <p class="error mt-4">Incorrect username/password. Please try again.</p>
                    <% } %> 
                </form>   
            </div>
        </div>   
    </span>
    </div>
    </div>
    
    </div>
    <footer>
        <p class="center" style="position: absolute; top: 92.5%; width: 100%;">&#169; 2022 Team 5</p>
    </footer>
</body>

</html>
